.read-more {
  display: inline-flex;
  align-items: center;

  &__text {
    margin-right: 8px;
    font-family: "Intro";
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
    color: $blue-color;
    cursor: pointer;
  }

  &__icon {
    width: 5px;
    height: 8px;
    background-position: center;
    background-size: 5px 8px;
    background-repeat: no-repeat;
    background-image: url("/src/assets/img/arrow-right.svg");
  }

  &:hover {
    opacity: 0.7;
  }
}
