.section-top {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 39px;

  &__title {
    margin-bottom: 29px;

    @include mobile {
      margin-bottom: 11px;
      max-width: 240px;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    max-width: 754px;
    text-align: center;
    font-size: 22px;
    line-height: 145.5%;
    color: rgba($dark-color, $alpha: 0.48);

    @include mobile {
      font-size: 20px;
      line-height: 160%;
    }
  }
}
