.title {
  margin: 0;
  font-family: "Intro";
  font-weight: 700;
  color: $dark-color;
  line-height: 120%;

  &--h1 {
    font-size: 40px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &--h2 {
    font-size: 40px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &--h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;

    @include mobile {
      font-size: 22px;
    }
  }

  &--h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }
}
