// base
$font-family: "IntroBook", sans-serif;
$content-width: 1302px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$light-color: #fff;
$yellow-color: #ffdd2d;
$blue-color: #2b6bf3;
$blue-light-color: #b7c6e7;
$dark-color: #1d253c;
$moon-color: #c2d2f4;
$pink-color: #fd466e;
$bg-color: #f8faff;
$green-light-color: #6fcf97;
$green-color: #27ae60;
$text-color: #666;
